body {
  margin: 0 auto;
}

img {
  height: 100px;
}

#page-header {
  text-align: center;
}

#main-container {
  display: flex;
  justify-content: space-around;
}

#map {
  width: 45vw;
  height: 500px;
  z-index: 1
}

#location-info {
  width: 45vw;
}

.location-info-inner {
  display: flex;
}

#itinerary-container {
  display: flex;
}

.itinerary-card {
  position: relative;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.itinerary-name {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.itinerary-options-container {
  display: flex;
  justify-content: space-evenly;
}

.visited-true {
  opacity: 0.3;
  filter: grayscale(50%);
}

.visited-true .itinerary-name {
  display: none;
}

.rating-container {
  color: black
}


/* BUTTONS */
.btn-add {
  height: 20px;
}

.btn-remove {
  height: 20px;
  width: 20px;
  background-color: red
}

.btn-visited {
  height: 20px;
  width: 20px;
  background-color: green
}

.btn-review{
  height: 20px;
  width: 20px;
  background-color: orange
}

/* MODAL */
.review-modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
