body {
  margin: 0 auto;
}

#page-header {
  text-align: center;
}

#main-container {
  display: flex;
  justify-content: space-around;
}

#map {
  width: 45vw;
  height: 500px;
}

#location-info {
  width: 45vw;
}

.location-info-inner {
  display: flex;
}

#itinerary-container {
  display: flex;
}

.itinerary-card {
  position: relative;
  text-align: center;
  color: white;
}

.itinerary-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  height: 100px;
}

.btn-add {
  height: 20px;
}

.btn-remove {
  height: 20px;
  width: 20px;
  background-color: red
}
