body {
  margin: 0 auto;
  background-image: url('/images/tartan.jpg');
  height: 100%;
  overflow: auto;
  font-family: de-walpergens-pica, serif;
}


#page-header {
  text-align: center;
  color: white;
  font-size: 50px;
}

#main-container {
  display: flex;
  justify-content: space-around;
}

#map {
  width: 47vw;
  height: 500px;
  z-index: 1;
  border: 5px solid lightgoldenrodyellow;
  border-radius: 2%

}

#location-info {
  width: 47vw;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 5px solid lightgoldenrodyellow;
  border-radius: 2%;
  overflow-y: scroll;

}

.location-info-inner {
  display: flex;
  flex-direction: column;
}

.location-info-inner section {
  text-align: justify;
  font-size: 17px;
  margin: 0 12px;
  line-height: 1.2;
}


.location-info-header {
  text-align: center;
  margin: 10px
}

.location-img {
  margin: 0;
  height: 200px;
  width: 265px;
  overflow: hidden;
  align-self: center;
  border-radius: 1%;
  padding-bottom: 10px;
}

.location-img img {
  height: 200px;
  width: auto;
}

#itinerary-container {
  display: flex;
  margin: 10px;
}

.itinerary-card {
  position: relative;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: lightgoldenrodyellow;
  height: 200px;
  width: 180px
}

.itinerary-name {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.itinerary-image {
  height: auto;
  width: 180px;
}

.itinerary-options-container {
  display: flex;
  justify-content: space-evenly;
}

.visited-true img{
  opacity: 0.3;
  filter: grayscale(50%);
}

.visited-true .itinerary-name {
  display: none;
}

.rating-container {
  color: black
}

.visited-undefined i {
  transform: scale(0);
}

.visited-true .fa-check-circle {
  position: absolute;
  top: 10%;
  left: 30%;
  border-radius: 50%;
  font-size: 34px;
  color: lightgoldenrodyellow;
  width: 60px;
  height: 60px;
  line-height: 60px;
  transform: scale(1);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/* BUTTONS */
.btn-add {
  display: flex;
  justify-content: center;
  width: 40%;
  border: 2px solid black;
  box-shadow: 0 2px grey;
  font-size: 18px;
  padding: 2px;
  margin: 30px auto;
  cursor: pointer;
  border-radius: 5px;

}

.btn-add:hover {
  box-shadow: 0 1px grey;
  top: 2px
}

.btn-add:active {
  box-shadow: none;
  top: 6px;
}

.btn-remove {
  height: 20px;
  width: 20px;
  background-color: red
}

.btn-visited {
  height: 20px;
  width: 20px;
  background-color: green
}

.btn-review{
  height: 20px;
  width: 20px;
  background-color: orange
}

/* MODAL */
.review-modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 15%;
  font-size: 25px;
  border: 5px solid lightgoldenrodyellow;
}
